<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>My- The Social Network</title>
    <meta charset="UTF-8">
    <meta name="viewport" content=>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        * {
            margin: 0px;
            box-sizing: border-box;
            transition: 0.2s all ease-in-out;
            -webkit-transition: 0.2s all ease-in-out;
            -o-transition: 0.2s all ease-in-out;
            -moz-transition: 0.2s all ease-in-out;
        }

        :after,
        :before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .signup-form {
            background: rgba(255, 255, 255, 1);
            padding: 10px 20px;
            border-radius: 2px;
            box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
        }
    </style>
</head>

<body>
    {{{ body }}}
    <script src="../../public/js/index.js"></script>
</body>

</html>