<body>
    <div id="navBar">
        <div id="logo">
            The Social Network
        </div>
        <nav id="loginNav">
            <a href="/logout" id="loginNavBtn">Logout</a>
        </nav>
    </div>
    <div id="welcomeMsg">Hello <strong>{{username}}</strong>, welcome back!</div>
    
        <button id="open-button">Live Chat</button>
    <div class="chat-popup" id="myForm">
        <form id="messageForm" class="form-container">
            <h id="chatHead">Live Chat</h>
            <div id="messages"></div>
            <input placeholder="Type message.." id="liveChatMessage"></input>
            <button class="liveChatBtns" id="send">Send</button>
            <button class="liveChatBtns" id="closeChat" type="button">Close</button>
        </form>
    </div>
</body>