<body>
    <div id="navBar">
        <div id="logo">
            The Social Network
        </div>
        <nav id="loginNav">
            <a href="/" id="loginNavBtn">Create Account</a>
        </nav>
    </div>

    <div class="login-form">
        <div id="loginFormLabel">Log in</div>
        <form action="login" method="POST">
            <div class="form-group">
                <input type="text" placeholder="Email Address" id="loginEmail" name="user_email" />
                <input type="password" id="loginPassword" placeholder="New Password" name="pwd" />
                <input type="submit" id="loginButton" value="Enter Site" />
                {{!-- <a id="loginSignupReturn" href="/">Create an account</a> --}}
            </div>
        </form>
    </div>
</body>