<div class="card">
    <div class="title">
        Title: {{title}}
    </div>
    <div class="author">
        Author: {{author}}
    </div>
    <div class="date">
        Created on {{createdAt}}
    </div>
    <div class="body">
        Message: {{body}}
    </div>
</div>