<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo">
                    <h1>The Social Network</h1>
                </div>
            </div>
            <div class="col-sm-8">
                <ul class="header-menu pull-right">
                    <li><a href="/create-post" class="">Post</a></li>
                    <li><a href="/logout" id="logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>