<div id="navBar">
    <div id="logo">
        The Social Network
    </div>
    <nav id="loginNav">
        <a href="/create-post" class="">Post</a>
        <a href="/logout" id="loginNavBtn">Logout</a>
    </nav>
</div>